#body {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 13px;
    line-height: 1.38;
}
#sign_up_form, #buddy_form, .my_table{
	width: 300px;
	-webkit-box-shadow: 0 32px 24px -24px black;
	   -moz-box-shadow: 0 32px 24px -24x black;
	        box-shadow: 0 32px 24px -24x black;
			
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px; 
	border-radius: 7px;

	padding: 20px;
	background-image: linear-gradient(bottom, rgb(245,234,188) 19%, rgb(255,228,178) 60%);
	background-image: -o-linear-gradient(bottom, rgb(245,234,188) 19%, rgb(255,228,178) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(245,234,188) 19%, rgb(255,228,178) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(245,234,188) 19%, rgb(255,228,178) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(245,234,188) 19%, rgb(255,228,178) 60%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, rgb(245,234,188)), color-stop(0.6, rgb(255,228,178)));
}
#login_process, #join_process, #add_process , #list_process, #check_process{
	display: none;
}
.button, .register_button, .login_button{
   border-top: 1px solid #cdf797;
   background: #d69a65;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c513e), to(#d69a65));
   background: -webkit-linear-gradient(top, #9c513e, #d69a65);
   background: -moz-linear-gradient(top, #9c513e, #d69a65);
   background: -ms-linear-gradient(top, #9c513e, #d69a65);
   background: -o-linear-gradient(top, #9c513e, #d69a65);
   padding: 2px 5px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
   font-size: 13px;
    line-height: 1.38;
   text-decoration: none;
   vertical-align: middle;
}
