body {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;  
}

/* SECTION:  Navigation Bar */

.navbar-fixed-bottom, .navbar-fixed-top {
    background-color: #222;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    top: 5px;
}
.navbar {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;    
	color: #fff;
    /*text-transform: uppercase;*/
}
.navbar .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
.navbar .navbar-nav>.active>a {
    border-radius: 3px;
    color: #fff;
    background-color: #fed136;
}
.navbar .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-nav > li > .dropdown-menu {
	background-color: #222;
}
.navbar-nav > li > .dropdown-menu a { 
	color: #fff; 
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fed136;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: #222;
  color: #fed136;
}


/* Main */
.container.main {
    margin-top: 70px;
}

/* Tables */
/*td .done {
    color: "green";
}
.status.pending {
    color: "blue";
}
.status.alarm {
    color: "red";
}

*/.table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>th {
    background-color: #fed136;
}